<sly-card class="custom-sly-card-border-radius"
          style="margin: 5px 0; padding: 16px 25px; padding-bottom: 2px; width: 100%; height: 100%;"
          v-loading="state.videoInPlay" element-loading-text="video in play">

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;">
        <sly-field title="Frame Information"
                   description="information about frame"
                   style=""
                   class="mt10"></sly-field>


        <span style="font-size: 26px; font-weight: 500; margin-bottom: 12px;">{{state.currentFrame}}</span>

    </div>
    <hr class="" style="border: 0; margin: 0 0; border-top: 1px solid rgba(0,0,0,.12);"/>
    <div style="font-size: 16px; padding: 7px 0">


        <div v-if="state.tagsOnFrame.length > 0">

            <div v-for="current_tag in state.tagsOnFrame">
                <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between;
                    margin-top: 9px;">

                    <span style="overflow-x: hidden; white-space: nowrap; text-overflow: ellipsis; font-size: 15px">
                            <i class="zmdi zmdi-circle mr5" :style="{color: current_tag.color}"></i>
                            <b>{{current_tag.tag}}</b>: {{current_tag.value}}
                    </span>


                    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center">
                        <div style="margin: 0 9px; font-weight: 400; font-size: 12px">
                            {{current_tag.tag_position}}
                        </div>
                        <div v-if="current_tag.prev">
                            <span style="background: #56ba56; color: white; padding: 0 5px; margin: 0 2px; border-radius: 5px;">p</span>
                        </div>
                        <div v-else>
                            <span style="background: #828282; color: white; padding: 0 5px; margin: 0 2px; border-radius: 5px;">p</span>
                        </div>

                        <div v-if="current_tag.next">
                            <span style="background: #56ba56; color: white; padding: 0 5px; margin: 0 2px; border-radius: 5px;">n</span>
                        </div>
                        <div v-else>
                            <span style="background: #828282; color: white; padding: 0 5px; margin: 0 2px; border-radius: 5px;">n</span>
                        </div>
                    </div>

                </div>

                <hr v-if="current_tag != state.tagsOnFrame[state.tagsOnFrame.length - 1]"
                    style="border: 0; margin: 8px 0; border-top: 2px dashed rgba(0,0,0,.12);"/>

            </div>
        </div>
        <div v-else>
            <sly-field
                    title="INFO: Tags list is Empty"
                    description="frame has no tags"
                    style="margin-bottom: 0"
            >
                <sly-icon slot="icon" :options="{ color: '#4c9ef8', bgColor: '#e3f0ff', rounded: false }">
                    <i class="zmdi zmdi-info"></I>
                </sly-icon>
            </sly-field>

        </div>

    </div>

</sly-card>

