<div id="action-recognition-stats">
    <sly-style>
        #action-recognition-stats .custom-sly-card-border-radius {
        <!--        border-radius: 18px;-->
        <!--        padding: 16px 20px;-->
        }

        #action-recognition-stats .beautiful-table {
        border-collapse: collapse;
        overflow-x: scroll;

        }
        #action-recognition-stats .beautiful-table tr:nth-child(2n) { background-color: #f6f8fa; }
        #action-recognition-stats .beautiful-table td, .beautiful-table th {
        border: 1px solid #dfe2e5;
        padding: 6px 13px;
        text-align: center;
        line-height: 20px;
        }
        #action-recognition-stats .beautiful-table.al td, .beautiful-table.al th {
        text-align: left;
        }


        #action-recognition-stats .disable_overflow_by_x_for_table .el-table__body-wrapper {
        overflow-x:hidden;
        }

        #action-recognition-stats .hide-percentage-from-progress .el-progress__text {
        display: none;
        }


        #action-recognition-stats .custom-collapse {
        cursor:pointer;
        transition: all 0.2s;


        }

        #action-recognition-stats .custom-collapse:hover {

        color: #039aff;
        }

        #action-recognition-stats .table-header-font-size .el-table__header {
        font-size: 11px;

        }

        #action-recognition-stats .table-header-font-size .el-table__header .is-leaf .cell {
        line-height: 16px;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        }

        #action-recognition-stats .div-without-paddings .content {
        padding:0 0;

        }

        #action-recognition-stats .solo-button-style {

        display: flex;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        height: 20px;
        width: 22px;

        border-radius: 6px;
        margin: 0 6px;
        font-weight: 600;

        cursor: pointer;
        transition: all 0.1s;

        border: 1px solid #bfbdbd;

        }


        }
    </sly-style>

    {% include 'src/ui/input_project.html' %}
    {% include 'src/ui/select_video.html' %}


    <div v-if="state.selectedVideo.generalStats">
        {% include 'src/ui/selected_video_stats.html' %}


        <div style="height: fit-content; display: flex;  flex-direction: row; justify-content: flex-start; align-items: stretch">

            <div id="left-visual-container"
                 style="width: 60%; display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">
                {% include 'src/ui/video_player.html' %}
            </div>

            <div style="width: 40%; position: relative; margin-bottom: 10px; margin-left: 10px;"
                 id="right-visual-container">
                {% include 'src/ui/frame_information.html' %}

            </div>
        </div>

        {% include 'src/ui/timeline.html' %}

        {% include 'src/ui/select_tags.html' %}
        {% include 'src/ui/pie_chart.html' %}
        {% include 'src/ui/combinations_matrix.html' %}
    </div>


</div>